@import 'tailwindcss';

@theme {
  --color-custom-green: hsla(160, 100%, 37%, 1);
  --color-custom-green-hover: hsla(160, 100%, 37%, 0.2);
  --font-hanken-grotesk: 'Hanken Grotesk', sans-serif;
}

#app {
  @apply max-w-[720px] w-full min-h-svh mx-auto p-6 font-normal font-hanken-grotesk text-gray-50;
}

body {
  @apply bg-white dark:bg-gray-800;
}

a,
.green {
  @apply no-underline text-custom-green transition-all duration-[400ms] p-1;
}

@media (hover: hover) {
  a:hover {
    @apply bg-custom-green-hover;
  }
}

@media (min-width: 1024px) {
  body {
    @apply flex items-center;
  }
}
