@import url("highlight.js/styles/github-dark.css") screen and (prefers-color-scheme: dark);
@import url("highlight.js/styles/intellij-light.min.css") screen and (prefers-color-scheme: light);

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-hanken-grotesk: "Hanken Grotesk", sans-serif;
}

#app {
  @apply max-w-[720px] w-full min-h-svh mx-auto p-6 font-normal font-hanken-grotesk text-black dark:text-gray-50;
}

body {
  @apply bg-gray-50 dark:bg-gray-800;
}

pre {
  @apply p-4 rounded-lg my-4 overflow-x-auto;
}

pre > code {
  @apply whitespace-pre-wrap block text-sm;
}

pre {
  @apply bg-gray-100 border border-gray-200;
}

pre > code {
  @apply text-gray-800;
}

.dark pre {
  @apply bg-gray-900 border border-gray-700;
}

.dark pre > code {
  @apply text-gray-100;
}

.nav-button {
  @apply flex items-center justify-center p-2 border border-gray-200 dark:border-gray-700 rounded-md hover:bg-gray-100 dark:hover:bg-gray-700 cursor-pointer mb-4 bg-white dark:bg-gray-800 dark:[&>svg]:text-gray-50;
}

.icon {
  @apply dark:[&>svg]:text-gray-50;
}

.katex > span {
  @apply text-lg leading-1;
}
